<% if @recipe %>

<h4>Ingredients for <%= @recipe.title %></h4>
<br>

<%= form_tag destroy_multiple_recipe_ingredients_path, method: :delete do %>
  <% if params[:recipe_id] %>
  <%= hidden_field_tag 'recipe_id', params[:recipe_id] %>
  <% end %>

  <% @recipe.recipe_ingredients.each do |ri| %>
  <%= check_box_tag 'recipe_ingredients[]', ri.id %>
  <%= ri.ingredient.ingredient_name %>
  <% end %>

  <% if has_data @recipe.recipe_ingredients %>
  <%= link_to 'Delete Selected Ingredients', class: "custom_button %>
  